/* Base styles */
html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../assets/app-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $primary-text;
  font-family: $font-stack;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  font-weight: $regular;
  overflow-x: hidden;
  overflow-y: visible;
}

.app {
  display: flex;
  width: 800px;
  height: 500px;
  overflow: hidden;
  border-radius: 2 * $radius;
  box-shadow: 2px 2px 18px 0px rgba(50, 50, 50, 0.3);

  .navigations {
    display: flex;
    flex-direction: column;
    flex: 0 0 150px;
  }

  .issues {
    flex: 1 1 100%;
  }
}
