/* Define Your Font Stack & Sizes */
$font-stack: "Roboto", sans-serif;
$base-font: 14;
$base-font-size: ($base-font * 1px) !default;
$base-line-height: 1.2;
$light: 300;
$regular: 400;
$bold: 700;

/*
  Base Colors
  http://chir.ag/projects/name-that-color/
*/

$white: #fff;
$wild-sand: #f6f6f6;
$alto: #e0e0e0;
$manatee: #8a8995;
$vulcan: #101022;
$cod-gray: #080606;
$martinique: #292a48;
$persimmon: #ff594f;
$my-sin: #ffbc1b;
$malachite: #00cd46;

/* Other Variables */
$gutter: 15px;
$radius: 5px;
