/* Define Your Font Stack & Sizes */
$font-stack: "Roboto", sans-serif;
$base-font: 14;
$base-font-size: ($base-font * 1px) !default;
$base-line-height: 1.2;
$light: 300;
$regular: 400;
$bold: 700;

/* Base Colors */
$white: #fff;
$cream: #f6f6f6;
$alto: #e0e0e0;
$light-gray: #8a8995;
$black: #101022;
$primary-text: #080606;
$martinique: #292a48;
$red: #ff594f;
$yellow: #ffbc1b;
$green: #00cd46;

/* Other Variables */
$gutter: 15px;
$radius: 5px;
