.issues {
  position: relative;
  background-color: $wild-sand;
  overflow: hidden;

  .issues-list-in-day {
    margin: 0;
    padding: 11px 18px 11px $gutter;
  }

  .issues-group {
    list-style: none;
  }

  .issues-date {
    display: inline-block;
    margin-bottom: 7px;
    color: $manatee;
    font-size: 12px;
  }
}

.issues-list {
  margin: 0;
  padding: 0;

  .issue {
    display: flex;
    margin-bottom: 5px;
    padding: 10px;
    background-color: $white;
    border: 1px solid $alto;
    border-radius: $radius;
    list-style: none;

    &:last-child {
      margin-bottom: 10px;
    }

    .issue-name {
      flex: 1 1 100%;
      font-size: 15px;
    }

    .issue-mark {
      display: flex;
      align-items: center;
      flex: 0 0 17px;

      .issue-mark-label {
        position: relative;

        .checkbox {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 30px;
          height: 30px;
          transform: translate(-50%, -50%);
          opacity: 0;
          cursor: pointer;

          &:checked {
            + .issue-mark-icon {
              path {
                fill: $martinique;
              }
            }
          }
        }

        .issue-mark-icon {
          path {
            @include ease(fill);
            fill: $white;
          }
        }
      }
    }
  }
}
