.system-buttons {
  padding: 16px 0 14px $gutter;
  background-color: $vulcan;
  display: flex;

  .button {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.9;
    @include ease(opacity);

    &:last-child {
      margin: 0;
    }

    &:hover {
      opacity: 1;
    }

    &.button-close {
      background-color: $persimmon;
    }

    &.button-min {
      background-color: $my-sin;
    }

    &.button-max {
      background-color: $malachite;
    }
  }
}
